<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalContracts" value="/opt/spaceos/backend/spaceos-modules-cutting/nupkg" />
    <add key="LocalModuleContracts" value="/opt/spaceos/backend/spaceos-modules-contracts/artifacts" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
